<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-3">
    <br><br>
    <h3><%= listing.title %></h3>
    <br>
  </div>  

    <div class="card col-6 offset-3 show-card listing-card">
      <img src="<%= listing.image && listing.image.url ? listing.image.url : 'https://images.unsplash.com/photo-1625505826533-5c80aca7d157?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGdvYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60' %>" class="card-img-top show-img" alt="listing_image"/> <br>
  <div class="card-body">
    <p class="card-text mb-2"><strong>Owned By :-</strong> <%= listing.owner && listing.owner.username ? listing.owner.username : "Unknown" %></p>
    <p class="card-text mb-2"><b><%= listing.title %></b></p>
    <p class="card-text mb-2"><%= listing.description %></p>
    <p class="card-text mb-2">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
    <p class="card-text mb-2"><%= listing.location %></p>
    <p class="card-text mb-2"><%= listing.country %></p>
  </div>
  </div>

    <br />

  <div class="btns mb-5">
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
    
      <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark offset-5 ">Delete</button>
    </form>
  </div>
  <div class="col-8 offset-3 mb-5 ">
    <hr> 
    <h4>Leave a Review</h4>
    <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation" >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" id="rating" name="review[rating]" min="1" max="5" required>
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea id="comment" name="review[comment]" rows="5"  cols="30" class = "form-control"  required></textarea>
        <div class="invalid-feedback">Please add some comments for review</div>
      </div>
      <button type="submit" class="btn btn-dark mt-3">Submit Review</button>
    </form>

    <hr />

    <p><b>All Reviews</b></p>

    <div class="row">

    <% for(review of listing.reviews) { %>
      <div class="listing-card col-6 mb-3">
        <div class="card-body">
          <h5 class="card-title">
            Jane Doe
          </h5>
          <p class="card-text">
            <%= review.comment %>
          </p>
          <p class="card-text">
            <%= review.rating %> stars
          </p>
        </div>
        <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
          <button class="btn btn-dark">Delete</button>
        </form>
      </div>
    <% } %>
</div>
  </div>

  </div>

  </body>
</html>
